node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p12
*.key
*.mobileprovision
*.swp
._*
.DS_Store
.git
.hg
.lock-wscript
.svn
.wafpickle-N
bower_components
CVS
dist
node_modules
npm-debug.log
static
yarn-error.log
